/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .bg-row {
        border: 1px solid black;
        padding: 15px;
        width: 400px;
        margin: 0 auto;
    }

    .line-space h6 {
        text-align: right;
    }

    .line-space {
        margin: 15px 0;
    }

    .space {
        margin-top: 50px;
    }

    .spc-inc {
        margin-top: 50px;
    }

    .spc-bottom {
        margin-top: 30px;
    }

    .fl-data {
        float: left;
        width: 10%;
    }

    .fl-edit {
        float: left;
        width: 5%;
        margin: 38px 0;
    }

    .fl-grafico {
        float: right;
        width: 60%;
    }
}

@media (max-width: 767px) {
    .line {
        margin-top: 10px;
    }

    .bg-row {
        margin: 0 auto;
    }

    .fl-edit {
        float: left;
        width: 22%;
    }

    .fl-data {
        float: left;
        width: 22%;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.login, .cadastro {
    color: black;
    font-size: 120%;
    text-align: right;
    margin-right: 10%;
}

.login {
    margin-top: 6%;
}

    .login:hover, .cadstro:hover {
        color: black;
        transform: scale(1.01);
        font-weight: bold;
    }

.seta {
    margin-left: 90%;
}

row {
    margin: 15px 0;
}

.text-principal {
    margin-top: 50px;
}

.index-page {
    margin: 50px;
}

.logo {
    max-width: 40vh;
    height: auto;
}

.logo-index {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.space-min {
    margin: 25px 0;
}

.spc {
    margin-top: 20px;
}

.mg-bottom {
    margin-bottom: 45px;
}

.flex-grafico {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.mg-bottom-edit {
    margin-bottom: 20px;

}
